body{
	background-image: url('../images/bg_default.png');
	background-position: top;
	color: #000000;
	background-color: #000000;

}

.cellBG{

	background-color: rgba(0,0,0,.8);
}

#addCategoryBox{
	margin: 30px 5px;

}
.buttonSearch{
	margin: 5px;


}
.imgText{
	margin-top: 30px;
	margin-left: 5px;
	color:#ffffff; 

}
.imageClick{
	margin-left: 5px;


}